@charset "utf-8";
/* CSS Document */
/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Reset
*  2.0 - Global Styles
*  3.0 - Fonts
*  4.0 - Body
*  5.0 - Mediaqueries

*/

/*** 1.0 - Reset ***/

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: Conv_Roboto-Regular, Sans-Serif;
  font-size: 14px;
  font-weight: 400;
  color: #062582;
  line-height: 1.5em;
  background: #06439f
}

a {
  text-decoration: none;
  outline: 0;
  color: #c52626
}

ul {
  padding-left: 0
}

li {
  list-style: none
}


/*** 2.0 - Global Styles ***/
h1 {
  text-transform: uppercase;
  font-size: 24px;
  width: fit-content;
}

h2, h3 {
  font-weight: 500
}

h2 {
  margin-bottom: 23px;
  text-transform: uppercase;
  font-weight: 700
}

h2 i {
  vertical-align: bottom;
  margin-left: 10px
}

h3 {
  color: #205090;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 18px
}

article {
  margin-bottom: 40px
}



p span {
  color: #8f9293;
  margin-bottom: 15px;
  display: block
}

ul li {
  background: url("../../images/arrow.png") 0 9px no-repeat;
  padding-left: 15px;
  line-height: 28px
}

/*** 3.0 - Fonts ***/

@font-face {
  font-family: Conv_Roboto-Regular;
  src: url(fonts/Roboto-Regular.eot);
  src: local('☺'), url(../fonts/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto-Regular.ttf) format('truetype'), url(../fonts/Roboto-Regular.svg) format('svg');
  font-weight: 400;
  font-style: normal
}

/*** 4.0 - Body ***/

#wrapper {
  display: grid;
  grid-template-columns: 1fr 2.5fr; /* 2-column grid */
  grid-template-rows: .1fr 2fr; /* 2-row grid */
  grid-template-areas: "header header"
	                   "aside main";
  grid-gap: 20px; /* gap between the columns */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  border-top: 1px solid #eaeaea;
  padding: 40px;
  margin: 20px auto; /* center in the viewport */
  max-width: 960px /* max-width of the layout */
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 0fr;
  grid-gap: 20px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
  grid-area: header; /* header spans full columns */ 
}

header p i {
  vertical-align: middle;
	padding-right: 10px;
  }

aside {
  grid-area: aside
}

main {
  grid-area: main
}

/*** 5.0 - Mediaqueries ***/

@media (min-width:320px) and (max-width:991px) {
	
  h1 {
    color: #fff;
    margin-bottom: 20px
  }
	
  h2 {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px
  }
	
  #wrapper {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
		                 "aside"
		                 "main";
    grid-gap: 10px
  }
	
  header {
    display: block;
    border-radius: 5px;
    background: #49c0f0;
    background: -moz-linear-gradient(45deg, #49c0f0 0, #2d5ae2 100%);
    background: -webkit-linear-gradient(45deg, #49c0f0 0, #2d5ae2 100%);
    background: linear-gradient(45deg, #49c0f0 0, #2d5ae2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49c0f0', endColorstr='#2d5ae2', GradientType=1);
    border-bottom: 0;
    padding: 20px 20px 5px
  }
	
  header p a {
    color: #fff
  }
	
}